@page
@model ExampleApi.Pages.index

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Example DotNet API</title>
    </head>
    <body>
        <h1>Example DotNet API</h1>
        <ul>
            <li>Environment: PRD</li>
            <li><a href="/swagger/index.html">Swagger Documentation</a></li>
        </ul>
    </body>
</html>